.about {
  padding: 1em 0;
}

.about img {
  max-height: 400px;
  max-width: 400px;
  margin: 1em;
}
.bio-text {
  display: flex;
  flex-flow: row;
  margin: 9em 3em 0em;
  background-color: #F8F8FA;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  animation: fadeUp 1s;

}
.bio-head {
    margin-bottom: 1em;
    background-color: #F7DF1F;
    position: absolute;
    padding: 10px;

}
.bio-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  line-height: 1.6;

}

@media screen and (max-width: 1300px) {
  .about {
    padding: 7em 0 0;
  }
  .about>img {
    height: 30vh;
    margin: 5em 2em 0;
  }
  .bio-text {
    margin: 3em 5em 0em;
  }

}

@media screen and (max-width: 800px){
  .about {
      flex-direction: row;
      padding: 16vh 0 0;
    }
    .about img {

    } .bio-text {
      margin: 3em 1em;
      flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
  .about {
    flex-direction: column;
    padding: 16vh 0 0;
  }
  .about img {
    width: 15em;
    height: 15em;
  }
  .bio-text {
    padding: 1em 1em;
  }
  .bio-head {
    margin: 2px 0px 0px -8px;
    padding: 3px;
  }
}
