.projects {
  display: flex;
  text-align: center;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100vh;
  padding: 10em;
  border: black 10px;
}

.col {
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
  animation: fadeUp 1s;
  margin: 10px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: #f8f8fa;
}
.projects-head {
  margin-bottom: 1em;
  background-color: #F7DF1F;
  position: absolute;
  padding: 10px;
}

.projects-copy {
  text-align: justify;
  padding: 1em;
}

.projects-img {
  width: 320px;
}

@media screen and (max-width: 1000px) {
  .projects {
    flex-direction: column;
    padding: 10em 0;
    flex-wrap: nowrap;
  }
  .col {
    animation: fadeUp 2s;
    margin: 10px;
    max-width: none;
    flex: 0 0;
  }
}
